@charset "utf-8";

.commmon{
  width: 100%;
}

/* <!-- header begin --> */

.header_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitelogo{
  width: 100px;
  height:100px;
}

.list{
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin-right: 20px;
  list-style: none;

}


/* <!-- main begin --> */


.main_image{
width: 100%;
height: 600px;
}

.container {
   display: flex; 
  flex-direction: row;
  justify-content: space-around;
  }


.news_content{
  margin: 10px auto;
  width:250px;
}



#NEWS{
  font-size:60px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 45px;
}

#TWITTER{
  font-size:20px;
  }

.twitter-timeline{
width: 50px;
}

#INSTAGRAM{
  font-size:20px;
  }
  
.twmojisize{
  font-size: 60px;
  margin-left: 110px;
}

.inmojisize{
  font-size: 60px;
  margin-left: 50px;
}

.copyrights{
 text-align: center;
  }




  footer{
display: flex;
flex-direction: row;
justify-content:center;

  }
